# 关联规则


关联规则（**Association Rule**）是一种用于发现数据集中变量（项、属性）之间隐藏关系的规则。它主要用于**市场篮分析（Market Basket Analysis）**、推荐系统和数据挖掘等领域。

---

### **1. 关联规则的基本概念**
#### **(1) 规则表示**
关联规则通常表示为：
$$
X \Rightarrow Y
$$
其中：
- \(X\) 和 \(Y\) 是两个不相交的项集（Itemsets）
- 规则的意思是：“如果项集 \(X\) 出现在交易中，那么项集 \(Y\) 也很可能出现。”

例如，在超市购物数据中：
- 规则 **{牛奶, 面包} → {黄油}** 表示：如果顾客买了牛奶和面包，那么他们很可能也会买黄油。

---

### **2. 关联规则的度量标准**
为了衡量规则的有效性，我们通常使用以下指标：

#### **(1) 支持度（Support）**
表示**X 和 Y 同时出现的概率**：
$$
Support(X \Rightarrow Y) = P(X \cup Y)
$$
即：
$$
\text{支持度} = \frac{\text{同时包含 } X \text{ 和 } Y \text{ 的事务数}}{\text{总事务数}}
$$
支持度衡量了规则的**普遍性**，支持度越高，规则越重要。

#### **(2) 置信度（Confidence）**
表示**在包含 X 的情况下，也包含 Y 的概率**：
$$
Confidence(X \Rightarrow Y) = P(Y | X) = \frac{Support(X \cup Y)}{Support(X)}
$$
置信度衡量了规则的**可靠性**，即在 X 发生时 Y 发生的可能性有多大。

#### **(3) 提升度（Lift）**
衡量 X 和 Y 之间的关联程度：
$$
Lift(X \Rightarrow Y) = \frac{Confidence(X \Rightarrow Y)}{Support(Y)}
$$
- 如果 **Lift > 1**，说明 X 和 Y 之间有**正相关**（Y 更有可能在 X 存在时出现）。
- 如果 **Lift = 1**，说明 X 和 Y **独立**，没有关联。
- 如果 **Lift < 1**，说明 X 和 Y 之间有**负相关**（Y 反而更不可能在 X 存在时出现）。

---

### **3. 关联规则挖掘算法**
常见的关联规则挖掘算法包括：

#### **(1) Apriori 算法**
- 通过**频繁项集**生成关联规则。
- 采用**逐层搜索**的方法，从小的项集开始，不断扩展，直到找到所有满足最低支持度和置信度的规则。

#### **(2) FP-Growth（频繁模式增长）算法**

- 通过构建**FP-树（频繁模式树）**来存储频繁项集，从而减少不必要的计算，提高效率。

---

### **4. 关联规则的应用**
1. **市场篮分析**（超市商品推荐）
   - 发现哪些商品经常一起购买，例如“啤酒和尿布”。
2. **推荐系统**（个性化推荐）
   - 电影推荐：用户 A 看了电影 X，系统可以推荐电影 Y。
3. **网页点击流分析**
   - 分析用户点击行为，优化网站布局。
4. **医疗诊断**
   - 发现某些症状与疾病之间的关系，辅助医生决策。

---

### **5. 关联规则示例**
假设有以下交易数据：

| 交易 ID | 购买的商品 |
|---------|------------|
| 1       | 牛奶, 面包, 黄油 |
| 2       | 牛奶, 面包 |
| 3       | 牛奶, 纸巾 |
| 4       | 面包, 黄油 |
| 5       | 牛奶, 面包, 黄油, 纸巾 |

从数据中可以挖掘出规则：
- **{牛奶, 面包} → {黄油}**
  - 支持度 = 2/5 = 40%        支持度  = {牛奶, 面包, 黄油}出现概率
  - 置信度 = 2/3 ≈ 66.7%     置信度 = {牛奶, 面包, 黄油}出现概率 /  {牛奶, 面包}出现概率 
  - 提升度 = (66.7% / 60%) ≈ 1.11 （说明有轻微正相关）   提升度 = 置信度 / {黄油}出现的次数


---

### **总结**
关联规则用于发现数据项之间的关系，主要衡量指标包括**支持度、置信度和提升度**。常见的算法有 **Apriori** 和 **FP-Growth**，它们广泛应用于**市场分析、推荐系统和数据挖掘**等领域。

In [200]:
import pandas as pd
from mlxtend.frequent_patterns import apriori , association_rules

In [201]:
data =  {
    'ID':[1,2,3,4,5,6],
    'onion':[1,0,0,1,1,1],
    'potato':[1,1,0,1,1,1],
    'burger':[1,1,0,0,1,1],
    'milk':[0,1,1,1,0,1],
    'beer':[0,0,1,0,1,0]
}

In [202]:
df = pd.DataFrame(data)
df = df.drop(columns=['ID'])

In [203]:
df

   onion  potato  burger  milk  beer
0      1       1       1     0     0
1      0       1       1     1     0
2      0       0       0     1     1
3      1       1       0     1     0
4      1       1       1     0     1
5      1       1       1     1     0

In [204]:
# 设置最小支持度来选择频繁项集
frequent_itemsets = apriori(df, min_support=0.5 , use_colnames=True)

d:\Anaconda\envs\python39\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [205]:
frequent_itemsets

    support                 itemsets
0  0.666667                  (onion)
1  0.833333                 (potato)
2  0.666667                 (burger)
3  0.666667                   (milk)
4  0.666667          (potato, onion)
5  0.500000          (burger, onion)
6  0.666667         (potato, burger)
7  0.500000           (potato, milk)
8  0.500000  (potato, burger, onion)

In [206]:
rules = association_rules(frequent_itemsets,metric='lift' , min_threshold = 1)

In [207]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(potato),(onion),0.833333,0.666667,0.666667,0.80,1.200,1.0,0.111111,1.666667,1.000000,0.8,0.40,0.90
1,(onion),(potato),0.666667,0.833333,0.666667,1.00,1.200,1.0,0.111111,inf,0.500000,0.8,1.00,0.90
2,(burger),(onion),0.666667,0.666667,0.500000,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.6,0.25,0.75
3,(onion),(burger),0.666667,0.666667,0.500000,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.6,0.25,0.75
4,(potato),(burger),0.833333,0.666667,0.666667,0.80,1.200,1.0,0.111111,1.666667,1.000000,0.8,0.40,0.90
5,(burger),(potato),0.666667,0.833333,0.666667,1.00,1.200,1.0,0.111111,inf,0.500000,0.8,1.00,0.90
6,"(potato, burger)",(onion),0.666667,0.666667,0.500000,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.6,0.25,0.75
7,"(potato, onion)",(burger),0.666667,0.666667,0.500000,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.6,0.25,0.75
8,"(burger, onion)",(potato),0.500000,0.833333,0.500000,1.00,1.200,1.0,0.083333,inf,0.333333,0.6,1.00,0.80
9,(potato),"(burger, onion)",0.833333,0.500000,0.500000,0.60,1.200,1.0,0.083333,1.250000,1.000000,0.6,0.20,0.80
10,(burger),"(potato, onion)",0.666667,0.666667,0.500000,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.6,0.25,0.75
11,(onion),"(potato, burger)",0.666667,0.666667,0.500000,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.6,0.25,0.75

In [208]:
rules[(rules['lift'] > 1.125 )& (rules['confidence'] > 0.8) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1,(onion),(potato),0.666667,0.833333,0.666667,1.0,1.2,1.0,0.111111,inf,0.500000,0.8,1.0,0.9
5,(burger),(potato),0.666667,0.833333,0.666667,1.0,1.2,1.0,0.111111,inf,0.500000,0.8,1.0,0.9
8,"(burger, onion)",(potato),0.500000,0.833333,0.500000,1.0,1.2,1.0,0.083333,inf,0.333333,0.6,1.0,0.8

# 常规数据集转化为one-hot编码

In [209]:
# 创建零售购物篮数据
retail_shopping_basket = {
    'ID': [1, 2, 3, 4, 5, 6],
    'Basket': [
        ['Beer', 'Diaper', 'Pretzels', 'Chips', 'Aspirin'],
        ['Diaper', 'Beer', 'Chips', 'Lotion', 'Juice', 'BabyFood', 'Milk'],
        ['Soda', 'Chips', 'Milk'],
        ['Soup', 'Beer', 'Diaper', 'Milk', 'IceCream'],
        ['Soda', 'Coffee', 'Milk', 'Bread'],
        ['Beer', 'Chips']
    ]
}

In [210]:
# 转换为 DataFrame
retail = pd.DataFrame(retail_shopping_basket)
# 选择所需的列
retail = retail[['ID', 'Basket']]
# 设置最大列宽以便更好地显示数据
pd.options.display.max_colwidth = 100

In [211]:
# 显示 DataFrame
retail

   ID                                                Basket
0   1              [Beer, Diaper, Pretzels, Chips, Aspirin]
1   2  [Diaper, Beer, Chips, Lotion, Juice, BabyFood, Milk]
2   3                                   [Soda, Chips, Milk]
3   4                  [Soup, Beer, Diaper, Milk, IceCream]
4   5                           [Soda, Coffee, Milk, Bread]
5   6                                         [Beer, Chips]

In [212]:
retail_id = retail.drop('Basket', axis=1 )
retail_id

   ID
0   1
1   2
2   3
3   4
4   5
5   6

In [213]:
from pandas import DataFrame
retail_basket = retail.Basket.str.join(',')
DataFrame(retail_basket)

                                         Basket
0            Beer,Diaper,Pretzels,Chips,Aspirin
1  Diaper,Beer,Chips,Lotion,Juice,BabyFood,Milk
2                               Soda,Chips,Milk
3                Soup,Beer,Diaper,Milk,IceCream
4                        Soda,Coffee,Milk,Bread
5                                    Beer,Chips

In [214]:
# str.get_dummies(',')用于对字符串列进行独热编码（One-Hot Encoding, OHE）
# 它会按照指定的分隔符 sep 拆分字符串，并将其转换为独热编码的 DataFrame。
# 别处理的字符串得是DataFrame类型！！！
retail_basket = retail_basket.str.get_dummies(',')
retail_basket

,Aspirin,BabyFood,Beer,Bread,Chips,Coffee,Diaper,IceCream,Juice,Lotion,Milk,Pretzels,Soda,Soup
0,1,0,1,0,1,0,1,0,0,0,0,1,0,0
1,0,1,1,0,1,0,1,0,1,1,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,0,0,1,0,0,0,1,1,0,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,1,0,1,0
5,0,0,1,0,1,0,0,0,0,0,0,0,0,0

In [215]:
retail = retail_id.join(retail_basket)
retail

,ID,Aspirin,BabyFood,Beer,Bread,Chips,Coffee,Diaper,IceCream,Juice,Lotion,Milk,Pretzels,Soda,Soup
0,1,1,0,1,0,1,0,1,0,0,0,0,1,0,0
1,2,0,1,1,0,1,0,1,0,1,1,1,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,4,0,0,1,0,0,0,1,1,0,0,1,0,0,1
4,5,0,0,0,1,0,1,0,0,0,0,1,0,1,0
5,6,0,0,1,0,1,0,0,0,0,0,0,0,0,0

In [216]:
retail = retail.drop(columns=['ID'])
# apriori 函数要求输入的 DataFrame 只包含布尔值（True/False）或二进制数（0/1），但你的 DataFrame 包含了一列 "ID"，这不是 0/1 数据。
frequent_itemsets = apriori(retail, min_support=0.5 , use_colnames=True)
frequent_itemsets

d:\Anaconda\envs\python39\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support        itemsets
0  0.666667          (Beer)
1  0.666667         (Chips)
2  0.500000        (Diaper)
3  0.666667          (Milk)
4  0.500000   (Chips, Beer)
5  0.500000  (Diaper, Beer)

In [217]:
rules = association_rules(frequent_itemsets,metric='lift' , min_threshold = 1)

In [218]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Chips),(Beer),0.666667,0.666667,0.5,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.60,0.25,0.750
1,(Beer),(Chips),0.666667,0.666667,0.5,0.75,1.125,1.0,0.055556,1.333333,0.333333,0.60,0.25,0.750
2,(Diaper),(Beer),0.500000,0.666667,0.5,1.00,1.500,1.0,0.166667,inf,0.666667,0.75,1.00,0.875
3,(Beer),(Diaper),0.666667,0.500000,0.5,0.75,1.500,1.0,0.166667,2.000000,1.000000,0.75,0.50,0.875

# 电影题材关联

In [219]:
movies =  pd.read_csv('movies.csv')
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [220]:
movies_ohe = movies.drop('genres',axis=1).join(movies.genres.str.get_dummies('|'))
pd.options.display.max_columns =100

In [221]:
movies_ohe.head(5)

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [222]:
movies_ohe.shape

(9742, 22)

In [223]:
movies_ohe = movies_ohe.drop(columns=['movieId','title'])
frequent_itemsets_movies = apriori(movies_ohe, min_support=0.025 , use_colnames=True)
frequent_itemsets_movies

d:\Anaconda\envs\python39\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                  itemsets
0   0.187641                  (Action)
1   0.129645               (Adventure)
2   0.062718               (Animation)
3   0.068158                (Children)
4   0.385547                  (Comedy)
5   0.123075                   (Crime)
6   0.045165             (Documentary)
7   0.447649                   (Drama)
8   0.079963                 (Fantasy)
9   0.100390                  (Horror)
10  0.034285                 (Musical)
11  0.058817                 (Mystery)
12  0.163827                 (Romance)
13  0.100595                  (Sci-Fi)
14  0.194416                (Thriller)
15  0.039212                     (War)
16  0.062615       (Adventure, Action)
17  0.044036          (Action, Comedy)
18  0.042907           (Crime, Action)
19  0.054301           (Action, Drama)
20  0.046294          (Action, Sci-Fi)
21  0.067235        (Thriller, Action)
22  0.025354    (Adventure, Animation)
23  0.032026     (Adventure, Children)
24  0.040957       (Adventure, Comedy)
25  0.031924        (Adventure, Drama)
26  0.034285      (Adventure, Fantasy)
27  0.031410       (Adventure, Sci-Fi)
28  0.031000     (Children, Animation)
29  0.027612       (Comedy, Animation)
30  0.037159        (Comedy, Children)
31  0.035414           (Crime, Comedy)
32  0.103983           (Comedy, Drama)
33  0.030076         (Comedy, Fantasy)
34  0.090741         (Comedy, Romance)
35  0.065387            (Crime, Drama)
36  0.058407         (Thriller, Crime)
37  0.029563          (Mystery, Drama)
38  0.095874          (Romance, Drama)
39  0.085403         (Thriller, Drama)
40  0.030589              (War, Drama)
41  0.047116        (Thriller, Horror)
42  0.036338       (Thriller, Mystery)
43  0.031000        (Thriller, Sci-Fi)
44  0.035106  (Comedy, Romance, Drama)
45  0.031718  (Crime, Thriller, Drama)

In [224]:
rules_movies = association_rules(frequent_itemsets_movies,metric='lift' , min_threshold = 1.25)
rules_movies

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Adventure),(Action),0.129645,0.187641,0.062615,0.482977,2.573940,1.0,0.038289,1.571224,0.702576,0.245869,0.363553,0.408338
1,(Action),(Adventure),0.187641,0.129645,0.062615,0.333698,2.573940,1.0,0.038289,1.306247,0.752735,0.245869,0.234448,0.408338
2,(Crime),(Action),0.123075,0.187641,0.042907,0.348624,1.857929,1.0,0.019813,1.247142,0.526575,0.160215,0.198167,0.288645
3,(Action),(Crime),0.187641,0.123075,0.042907,0.228665,1.857929,1.0,0.019813,1.136892,0.568426,0.160215,0.120409,0.288645
4,(Action),(Sci-Fi),0.187641,0.100595,0.046294,0.246718,2.452576,1.0,0.027419,1.193981,0.729069,0.191345,0.162466,0.353461
5,(Sci-Fi),(Action),0.100595,0.187641,0.046294,0.460204,2.452576,1.0,0.027419,1.504937,0.658508,0.191345,0.335520,0.353461
6,(Thriller),(Action),0.194416,0.187641,0.067235,0.345829,1.843034,1.0,0.030754,1.241814,0.567807,0.213564,0.194726,0.352072
7,(Action),(Thriller),0.187641,0.194416,0.067235,0.358315,1.843034,1.0,0.030754,1.255420,0.563072,0.213564,0.203454,0.352072
8,(Adventure),(Animation),0.129645,0.062718,0.025354,0.195566,3.118175,1.0,0.017223,1.165145,0.780486,0.151813,0.141737,0.299911
9,(Animation),(Adventure),0.062718,0.129645,0.025354,0.404255,3.118175,1.0,0.017223,1.460953,0.724755,0.151813,0.315515,0.299911
10,(Adventure),(Children),0.129645,0.068158,0.032026,0.247031,3.624360,1.0,0.023190,1.237556,0.831947,0.193189,0.191956,0.358455
11,(Children),(Adventure),0.068158,0.129645,0.032026,0.469880,3.624360,1.0,0.023190,1.641806,0.777052,0.193189,0.390915,0.358455
12,(Adventure),(Fantasy),0.129645,0.079963,0.034285,0.264450,3.307149,1.0,0.023918,1.250815,0.801540,0.195550,0.200521,0.346602
13,(Fantasy),(Adventure),0.079963,0.129645,0.034285,0.428755,3.307149,1.0,0.023918,1.523610,0.758257,0.195550,0.343664,0.346602
14,(Adventure),(Sci-Fi),0.129645,0.100595,0.031410,0.242280,2.408464,1.0,0.018369,1.186989,0.671907,0.157976,0.157532,0.277263
15,(Sci-Fi),(Adventure),0.100595,0.129645,0.031410,0.312245,2.408464,1.0,0.018369,1.265502,0.650205,0.157976,0.209799,0.277263
16,(Children),(Animation),0.068158,0.062718,0.031000,0.454819,7.251799,1.0,0.026725,1.719213,0.925161,0.310380,0.418339,0.474545
17,(Animation),(Children),0.062718,0.068158,0.031000,0.494272,7.251799,1.0,0.026725,1.842573,0.919791,0.310380,0.457281,0.474545
18,(Comedy),(Children),0.385547,0.068158,0.037159,0.096379,1.414044,1.0,0.010880,1.031231,0.476535,0.089207,0.030285,0.320780
19,(Children),(Comedy),0.068158,0.385547,0.037159,0.545181,1.414044,1.0,0.010880,1.350983,0.314226,0.089207,0.259798,0.320780
20,(Comedy),(Romance),0.385547,0.163827,0.090741,0.235357,1.436620,1.0,0.027578,1.093547,0.494622,0.197851,0.085545,0.394621
21,(Romance),(Comedy),0.163827,0.385547,0.090741,0.553885,1.436620,1.0,0.027578,1.377341,0.363467,0.197851,0.273963,0.394621
22,(Thriller),(Crime),0.194416,0.123075,0.058407,0.300422,2.440963,1.0,0.034479,1.253506,0.732792,0.225436,0.202237,0.387492
23,(Crime),(Thriller),0.123075,0.194416,0.058407,0.474562,2.440963,1.0,0.034479,1.533167,0.673177,0.225436,0.347755,0.387492
24,(Romance),(Drama),0.163827,0.447649,0.095874,0.585213,1.307302,1.0,0.022537,1.331649,0.281121,0.185945,0.249051,0.399692
25,(Drama),(Romance),0.447649,0.163827,0.095874,0.214171,1.307302,1.0,0.022537,1.064065,0.425574,0.185945,0.060208,0.399692
26,(War),(Drama),0.039212,0.447649,0.030589,0.780105,1.742669,1.0,0.013036,2.511880,0.443560,0.067042,0.601892,0.424219
27,(Drama),(War),0.447649,0.039212,0.030589,0.068333,1.742669,1.0,0.013036,1.031257,0.771553,0.067042,0.030310,0.424219
28,(Thriller),(Horror),0.194416,0.100390,0.047116,0.242344,2.414026,1.0,0.027598,1.187360,0.727118,0.190220,0.157795,0.355835
29,(Horror),(Thriller),0.100390,0.194416,0.047116,0.469325,2.414026,1.0,0.027598,1.518037,0.651120,0.190220,0.341255,0.355835
30,(Thriller),(Mystery),0.194416,0.058817,0.036338,0.186906,3.177729,1.0,0.024902,1.157532,0.850699,0.167534,0.136093,0.402354
31,(Mystery),(Thriller),0.058817,0.194416,0.036338,0.617801,3.177729,1.0,0.024902,2.107761,0.728137,0.167534,0.525563,0.402354
32,(Thriller),(Sci-Fi),0.194416,0.100595,0.031000,0.159451,1.585072,1.0,0.011442,1.070020,0.458194,0.117418,0.065438,0.233807
33,(Sci-Fi),(Thriller),0.100595,0.194416,0.031000,0.308163,1.585072,1.0,0.011442,1.164414,0.410398,0.117418,0.141199,0.233807
34,"(Comedy, Drama)",(Romance),0.103983,0.163827,0.035106,0.337611,2.060781,1.0,0.018071,1.262360,0.574484,0.150860,0.207833,0.275948
35,(Romance),"(Comedy, Drama)",0.163827,0.103983,0.035106,0.214286,2.060781,1.0,0.018071,1.140386,0.615599,0.150860,0.123104,0.275948
36,"(Crime, Drama)",(Thriller),0.065387,0.194416,0.031718,0.485086,2.495096,1.0,0.019006,1.564503,0.641136,0.139064,0.360819,0.324117
37,"(Thriller, Drama)",(Crime),0.085403,0.123075,0.031718,0.371394,3.017617,1.0,0.021207,1.395031,0.731047,0.179443,0.283170,0.314554
38,(Crime),"(Thriller, Drama)",0.123075,0.085403,0.031718,0.257715,3.017617,1.0,0.021207,1.232136,0.762452,0.179443,0.188401,0.314554
39,(Thriller),"(Crime, Drama)",0.194416,0.065387,0.031718,0.163147,2.495096,1.0,0.019006,1.116818,0.743825,0.139064,0.104599,0.324117

In [227]:
rules_movies[rules_movies.lift > 4].sort_values(by=['lift'],ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
16,(Children),(Animation),0.068158,0.062718,0.031,0.454819,7.251799,1.0,0.026725,1.719213,0.925161,0.31038,0.418339,0.474545
17,(Animation),(Children),0.062718,0.068158,0.031,0.494272,7.251799,1.0,0.026725,1.842573,0.919791,0.31038,0.457281,0.474545

In [228]:
movies[movies.genres.str.contains('Children') & (~movies.genres.str.contains('Animation'))]

,movieId,title,genres
1,2,Jumanji (1995),Adventure|Children|Fantasy
7,8,Tom and Huck (1995),Adventure|Children
26,27,Now and Then (1995),Children|Drama
32,34,Babe (1995),Children|Drama
34,38,It Takes Two (1995),Children|Comedy
...,...,...,...
9636,179401,Jumanji: Welcome to the Jungle (2017),Action|Adventure|Children
9670,182731,Pixel Perfect (2004),Children|Comedy|Sci-Fi
9679,183301,The Tale of the Bunny Picnic (1986),Children
9697,184987,A Wrinkle in Time (2018),Adventure|Children|Fantasy|Sci-Fi
9710,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi